<h3>These are the Persons!</h3>
<ol>
<% @people.each do |person| %>
	<li>
		<label>Person ID:</label><%= person.person_id %><br>
		<label>Person Name:</label><%= person.name %><br>
		<label>Person Gender:</label><%= person.gender %><br>
		<label>Person DOB:</label><%= person.dob %><br>
		<label>Person Zipcode:</label><%= person.zipcode %><br>
	</li>
<% end %>
</ol>
<a href="/">Hello go back Main Page!</a>
